<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Directory Id="dir66789DFE0EFD750E77B25D541B4C52DB" Name="install" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir66789DFE0EFD750E77B25D541B4C52DB">
            <Component Id="cmp7DE93F745A2B64B7B44B749C8202064D" Guid="PUT-GUID-HERE">
                <File Id="fil2C375459EAA74005B18D832B8F520DEB" KeyPath="yes" Source="SourceDir\InstallMe.txt" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>