<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="Awesome Awesome Software"
           Language="1033" Version="1.0.0.0" Manufacturer="Awesome Awesome Company"
           UpgradeCode="{E30268F9-F258-4696-9A99-225AF0D7AAE1}">
    <Package InstallerVersion="301" Compressed="yes" InstallScope="perMachine"
             Manufacturer="Awesome Awesome Company" Description="Installes Awesome Awesome Software"
             Keywords="Practie, Installer, MSI" Comments="(c)2012 Awesome Awesome Company"/>
    <MediaTemplate EmbedCab="yes"/>

    

    <!-- Directory構成 -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="MyProgramDir" Name="Awesome Awesome Software">
          <Directory Id="MyEmptyDir" Name="Empty Directory" />
        </Directory>
      </Directory>

      <Directory Id="CommonAppDataFolder">
        <Directory Id="MyProgramDir2" Name="Awesome Awesome Software2">
          <Directory Id="MyProgramNestDir" Name="Awesome Awesome Software3" />
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="MyShortcutsDir" Name="Awesome Awesome Software"/>
      </Directory>

    </Directory>

    <!-- DirectoryRef(中に入れるファイルComponentを定義) -->
    <DirectoryRef Id="MyProgramDir">
      <Component Id="CMP_InstallMeTXT" Guid="{33055D38-14BB-45B0-A138-6A94A60E6E85}" KeyPath="yes">
        <File Source="$(var.FilesPath)InstallMe.txt"/>
        <File Name="InstallMeClone.txt" Source="$(var.FilesPath)InstallMe.txt"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="MyEmptyDir">
      <Component Id="CMP_MyEmptyDir" Guid="{47BB97B7-64B8-4F83-8270-D3BBE93CD51C}" KeyPath="yes">
        <CreateFolder />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="MyProgramDir2">
      <Component Id="CMP_InstallMeTXT2" Guid="{38D0DEB2-60EC-4F13-BF33-6B4C09C71F32}" KeyPath="yes">
        <File Id="InstallMe2.txt" Source="$(var.FilesPath)InstallMe.txt"/>
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="MyShortcutsDir">
      <Component Id="CMP_DocumentationShortcut" Guid="{8DAB1F40-851D-410B-AB61-44C2FFE99A77}">
        <Shortcut Id="DocumentationStartMenuShortcut" Name="Awesome Awesome Software Documentation"
                  Description="Read Awesome Awesome Software Documentation"
                  Target="[MyProgramDir]InstallMe.txt" />
        <Shortcut Id="UninstallShortcut" Name="Uninstall Awesome Awesome Software"
                  Description="Uninstall Awesome Awesome Software and all of its components"
                  Target="[System64Folder]msiexec.exe" 
                  Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="RemoveMyShortcutsDir" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\AwesomeSoftware"
                       Name="installed" Type="integer" Value="1" KeyPath="yes" />
      
      </Component>
    </DirectoryRef>

    <Feature Id="MainProduct" Title="YM Main Product" Level="1">
      <ComponentRef Id="CMP_InstallMeTXT"/>
      <ComponentRef Id="CMP_InstallMeTXT2"/>
      <ComponentRef Id="CMP_MyEmptyDir"/>
      <ComponentRef Id="CMP_DocumentationShortcut"/>
      <ComponentGroupRef Id="MyComponentGroup"/>
    </Feature>

    <UIRef Id="WixUI_Minimal" />
    
  
    <!--<Property Id="myProperty" Value="0" />
    <Condition Message="Value of myProperty is [myProperty]. Shold be 1">
      <![CDATA[Installed OR myProperty = "1"]]>
    </Condition>-->

    <!--<Property Id="MyProperty" Value="5" />
    <Condition Message="Some message if condition is false">
      <![CDATA[MyProperty > 3]]>
    </Condition>-->



  </Product>
</Wix>
